.record-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
  }
  
  .circle {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: 2px solid red;
    border-radius: 50%;
  }
  
  .recording:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
  }


  