.main-screen-container {
    position: relative;
    text-align: left;
    min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
    padding-left: 40px;
}

.new-session-btn {
    position: absolute;
    bottom: 10px; /* Adjust this value to set the distance from the bottom */
    right: 10px; /* Adjust this value to set the distance from the right */
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .logomain {
    width: 50px; /* Adjust the width as needed */
  }

  .footer {
    background-color: #ffffff; /* Background color for the footer */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-section {
    font-size: 16px;
  }

  .footer-section.my-songs {
    color: #5E38BA;
  }
  
  